<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAIN.HANDLEBARS</title>

     <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body style="background-color: black; color:white">

<header style="background-color: red;">Coder house - Geronimo Gollan</header>

{{{body}}} 


<footer>
  <p>
    &copy; 2025 Coder House Back End 1 Project by Geronimo Gollan
  </p>
</footer>

<script src="/socket.io/socket.io.js"></script>

  </body>
</html>